i{
    color: #373B47;
    color: #E95853;
}

.upper{
    text-transform: uppercase;
}

*{
    font-family: 'Raleway', sans-serif;
}

body{
    margin: 0;
}

.menu{
    display: flex;
}

header img{
    width: 5rem;
    height: 5rem;
}

main header{
    background: url(../assets/images/bg-home.jpg) #373B47;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 35rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
